/Slot1/javasorting/nbproject/private/
/Slot1/bubbleSort/build/
/Slot1/demo/nbproject/private/
/Slot1/demo/build/
/Slot1/search/nbproject/private/
/Slot1/search/build/
/Slot1/countLetter/nbproject/private/
/Slot1/countLetter/build/
/Slot1/studentManager/nbproject/private/
/Slot1/studentManager/build/
/Slot1/FruitShop/nbproject/private/
/Slot1/FruitShop/build/
