/Slot1/javasorting/nbproject/private/
/Slot1/bubbleSort/build/
/Slot1/demo/nbproject/private/
/Slot1/demo/build/
/Slot1/search/nbproject/private/
/Slot1/search/build/
/Slot1/countLetter/nbproject/private/
/Slot1/countLetter/build/
/Slot1/studentManager/nbproject/private/
/Slot1/studentManager/build/
/Slot1/FruitShop/nbproject/private/
/Slot1/FruitShop/build/
/Slot1/normalizeText/nbproject/private/
/Slot1/normalizeText/build/
/Slot1/normalizeText/dist/
/Slot1/ContactManagementProgram/nbproject/private/
/Slot1/ContactManagementProgram/build/
/Slot1/tree/nbproject/private/
/Slot1/tree/build/
/Slot1/WorkerManager/nbproject/private/
/Slot1/WorkerManager/build/
/Slot1/JavaApplication11/nbproject/private/
/Slot1/JavaApplication11/build/
/Slot1/CaculatorShape/nbproject/private/
/Slot1/CaculatorShape/build/
/Slot1/StudentInfo/nbproject/private/
/Slot1/StudentInfo/build/
/Slot1/householdWaste/nbproject/private/
/Slot1/householdWaste/build/
